// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


label.selected .better-label.help {
	background-color: red;
	width: 100%;
	padding: 5px 10px;
}

label.selected .better-label.concern {
	background-color: yellow;
	width: 100%;
}

label.selected .better-label.ok {
	background-color: green;
	width: 100%;
}


table {
	width: 100%;
	text-align: left;
}

thead {
	border-bottom: 2px solid;
	background-color: #efefef;
	font-weight: 800;
}

tr {
	border: 1px solid;
	font-size: .8em;
}

th, td {
	padding: 10px;
	border-right: 1px solid;
}

/*table display*/

tr.student-row:nth-child(even) {
	background-color: #cae2f3;
}

tr.quantity{
	border-top: 3px solid;
}

tr.one {
	background-color: $red;
}

tr.two {
	background-color: $yellow;
}

tr.three {
	background-color: $green;
}

tr.unanswered {
	background-color: #efefef;
}

tr.none {
	background-color: #efefef;
}

tr.count-1 {
	background-color: $red;
}

tr.count-2 {
	background-color: $yellow;
}

tr.count-3 {
	background-color: $green;
}


.hide {
	display: none;
}

#hide-students {
	display: block;
	margin: 10px 0 20px 0;
	width: 200px;
	border: 1px solid #000;
	float: right;
}

//lectures styles
div[data-name="post_id"] {
	display: none;
}


.acf-button {
	color: #fff;
	background-color: $primary;
	padding: 10px 15px;
	border-radius: 3px;
	margin: 10px 0 0 0;
}

//student page

.single-student h3 {
	border-bottom: 1px solid $primary;
}

.single-student h4 {
	margin-top: 20px;
}

.input-piece {
	display: inline-block;
	width: 20%;
	margin: 5px 10px;
}

.btn-lecture {
	display: block;
	width: 240px;
	margin: 30px auto;
}

.show .input-piece input[type=radio]:checked::after {
	content: '  ';
	width: 100%;
	height: 30px;
	display: block;
	z-index: -10;
	margin-top: -8px;
}

.show .input-piece.confident input[type=radio]:checked::after {
	background-color: green;
}

.show .input-piece.some-concern input[type=radio]:checked::after {
	background-color: yellow;
}

.show .input-piece.need-help input[type=radio]:checked::after {
	background-color: red;
}

.show .assessment {
	padding: 10px;
}

.show .assessment:nth-of-type(odd){
	background-color: #efefef;
}

.group-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.group-buttons h2 {
	display: block;
	width: 100%;
}

.group-buttons a {
	margin: 10px;
}