// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


label.selected .better-label.help {
	background-color: red;
	width: 100%;
	padding: 5px 10px;
}

label.selected .better-label.concern {
	background-color: yellow;
	width: 100%;
}

label.selected .better-label.ok {
	background-color: green;
	width: 100%;
}


table {
	width: 100%;
	text-align: left;
}

thead {
	border-bottom: 1px solid;
	background-color: #efefef;
}

tr {
	border: 1px solid;
	font-size: .8em;
}

th, td {
	padding: 10px;
	border-right: 1px solid;
}

/*table display*/

tr.student-row:nth-child(even) {
	background-color: #cae2f3;
}

tr.average-row.totals{
	border-top: 3px solid;
}

tr.none {
	background-color: #efefef;
}

tr.count-1 {
	background-color: $red;
}

tr.count-2 {
	background-color: $yellow;
}

tr.count-3 {
	background-color: $green;
}


.hide {
	display: none;
}

#hide-students {
	display: block;
	margin: 10px 0 20px 0;
	width: 200px;
	border: 1px solid #000;
	float: right;
}